*.gradle/
*.properties
.idea/
/C1_Browser-based-TF-JS/W3/assignment/data
/C2_Device-based-TF-lite/W3/ungraded_labs/ios_apps/cats_vs_dogs/Pods/TensorFlowLiteC/Frameworks/TensorFlowLiteC.framework
/C2_Device-based-TF-lite/W3/ungraded_labs/ios_apps/image_classification/Pods/TensorFlowLiteC/Frameworks/TensorFlowLiteC.framework
/C2_Device-based-TF-lite/W3/ungraded_labs/ios_apps/object_detection/Pods/TensorFlowLiteC/Frameworks/TensorFlowLiteC.framework
/C4_Advanced-deployment/W2/ungraded_labs/
/C4_Advanced-deployment/W2/ungraded_labs/models
/C4_Advanced-deployment/W2/ungraded_labs/saved_model

